htdocs/src/pug/index.pug
//- META INFORMATION
- const page_title = 'Website Name'
- const relativePath = '.'
- const meta_title = 'this is meta title'
- const meta_keywords = 'this is meta keywords'
- const meta_description = 'this is meta description'
- const meta_og_url = 'http://website.com'
- const currentPage = 'home'


//- EXTERNAL LIBRARIES
- const isJquery = true
- const isWowEffects = false
- const isSwiper = false
- const isBootstrap = false
- const isPolyfill = true


//- CONTENT DATA
-
    //- Accordions
    const accordions = [
        {
            title: 'Title 1',
            text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.'
        },
        {
            title: 'Title 2',
            text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.'
        },
        {
            title: 'Title 3',
            text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.'
        },
    ];

    //- KV Slider
    const kvSlider = [
        {
            image: 'topKVSlide_01.jpg',
            text: 'Slide 1'
        },
        {
            image: 'topKVSlide_02.jpg',
            text: 'Slide 2'
        },
        {
            image: 'topKVSlide_03.jpg',
            text: 'Slide 3'
        },
    ];

    //- Custom select
    const countries = [
        { name: 'Australia', value: '0'},
        { name: 'Philippines', value: '1'},
        { name: 'Japan', value: '2'},
        { name: 'Mexico', value: '3'},
    ];



doctype html
html(lang="ja")
    head
        //- HEAD
        include ./_inc/_head.pug


    body.topPage#top
        //- HEADER
        include ./_inc/_siteHeader.pug

        //- MAIN CONTENT
        main.siteContent(role="main")
            section.topPageKvSec
                .topPageKvSec__inner
                    .topPageKvSec__topArea
                        figure.topPageKvSec__imgCont
                            img.topPageKvSec__img(src=`${relativePath}/_assets/images/topPage/kv.png`, alt="kv image")
                    .topPageKvSec__bottomArea
                        p.topPageKvSec__description 光徳院は、御府内八十八カ所霊場の
                            br.u-spDb
                            | 第58番札所です。
                            br
                            | 平成7年に建立された五重塔は、
                            br
                            | 小さいながらも木像瓦葺きの
                            br.u-spDb
                            | 本格的造りのもので、
                            br
                            | 仏塔愛好家の方々に親しまれてします。

            section.topPageNotifSec
                .topPageNotifSec__inner
                    h2.topPageNotifSec__title お知らせ

                    ul.topPageNotifSec__noticeList
                        li.topPageNotifSec__noticeItem
                            .topPageNotifSec__noticeLabelCont
                                p.topPageNotifSec__noticeLabel お知らせ
                            a.topPageNotifSec__noticeItemLink(href=`${relativePath}/information-details`)
                                span.topPageNotifSec__noticeItemDate 2020年7月18日
                                span.topPageNotifSec__noticeItemTitle 法事(回忌法要）動画中継の開始
                        li.topPageNotifSec__noticeItem
                            .topPageNotifSec__noticeLabelCont
                                p.topPageNotifSec__noticeLabel お知らせ
                            a.topPageNotifSec__noticeItemLink(href=`${relativePath}/information-details`)
                                span.topPageNotifSec__noticeItemDate 2020年6月20日
                                span.topPageNotifSec__noticeItemTitle 今年度の盂蘭盆会に関しまして
                        li.topPageNotifSec__noticeItem
                            .topPageNotifSec__noticeLabelCont
                                p.topPageNotifSec__noticeLabel お知らせ
                            a.topPageNotifSec__noticeItemLink(href=`${relativePath}/information-details`)
                                span.topPageNotifSec__noticeItemDate 2020年5月20日
                                span.topPageNotifSec__noticeItemTitle 施餓鬼会を終えました
                        li.topPageNotifSec__noticeItem
                            .topPageNotifSec__noticeLabelCont
                                p.topPageNotifSec__noticeLabel お知らせ
                            a.topPageNotifSec__noticeItemLink(href=`${relativePath}/information-details`)
                                span.topPageNotifSec__noticeItemDate 2020年4月20日
                                span.topPageNotifSec__noticeItemTitle 一般墓地　B区画・C区画に空きがございます
                        li.topPageNotifSec__noticeItem
                            .topPageNotifSec__noticeLabelCont
                                p.topPageNotifSec__noticeLabel お知らせ
                            a.topPageNotifSec__noticeItemLink(href=`${relativePath}/information-details`)
                                span.topPageNotifSec__noticeItemDate 2020年4月10日
                                span.topPageNotifSec__noticeItemTitle 今年度の施餓鬼会に関しまして
                        li.topPageNotifSec__noticeItem
                            .topPageNotifSec__noticeLabelCont
                                p.topPageNotifSec__noticeLabel お知らせ
                            a.topPageNotifSec__noticeItemLink(href=`${relativePath}/information-details`)
                                span.topPageNotifSec__noticeItemDate 2020年4月2日
                                span.topPageNotifSec__noticeItemTitle 法事・葬儀に関しまして
                        li.topPageNotifSec__noticeItem
                            .topPageNotifSec__noticeLabelCont
                                p.topPageNotifSec__noticeLabel お知らせ
                            a.topPageNotifSec__noticeItemLink(href=`${relativePath}/information-details`)
                                span.topPageNotifSec__noticeItemDate 2020年3月30日
                                span.topPageNotifSec__noticeItemTitle 当山の新型コロナ感染対策
                        li.topPageNotifSec__noticeItem
                            .topPageNotifSec__noticeLabelCont
                                p.topPageNotifSec__noticeLabel お知らせ
                            a.topPageNotifSec__noticeItemLink(href=`${relativePath}/information-details`)
                                span.topPageNotifSec__noticeItemDate 2020年3月27日
                                span.topPageNotifSec__noticeItemTitle 花まつり中止のお知らせ
                    .topPageNotifSec__btnCont
                        a.topPageNotifSec__btnLink(href=`${relativePath}/notice-list`) お知らせ一覧はこちら

                    .topPageNotifSec__downloadBtnCont
                        a.topPageNotifSec__downloadBtn(href="")
                            img.topPageNotifSec__pdfIcon(src=`${relativePath}/_assets/images/topPage/pdf_icon.svg`, alt="pdf icon")
                            .topPageNotifSec__downloadBtnText
                                span.topPageNotifSec__downloadBtnText.u-dlBtnTxt01 お塔婆の申込書
                                br
                                span.topPageNotifSec__downloadBtnText.u-dlBtnTxt02 ダウンロードはこちら
                        a.topPageNotifSec__downloadBtn(href="")
                            img.topPageNotifSec__pdfIcon(src=`${relativePath}/_assets/images/topPage/pdf_icon.svg`, alt="pdf icon")
                            .topPageNotifSec__downloadBtnText
                                span.topPageNotifSec__downloadBtnText.u-dlBtnTxt01 お施餓鬼お塔婆の申込書
                                br
                                span.topPageNotifSec__downloadBtnText.u-dlBtnTxt02 ダウンロードはこちら

                    .topPageNotifSec__bottomLogoCont.u-pcDb
                        img.topPageNotifSec__bottomLogo(src=`${relativePath}/_assets/images/topPage/logo_bottom.png`, alt="pdf icon")

        //- FOOTER
        include ./_inc/_siteFooter.pug

htdocs/dist/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Website Name</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, user-scalable=1, initial-scale=1, viewport-fit=cover">
    <meta name="keywords" content="this is meta keywords">
    <meta name="description" content="this is meta description">
    <meta property="og:title" content="this is meta title">
    <meta property="og:type" content="website">
    <meta property="og:description" content="this is meta description">
    <meta property="og:url" content="http://website.com">
    <meta property="og:image" content="./_assets/images/_etc/ogp.jpg">
    <meta property="fb:app_id" content="XXXXXXXXXXXXXXXX">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@XXXXX">
    <meta name="twitter:creator" content="@XXXXX">
    <meta name="twitter:image:src" content="./_assets/images/_etc/ogp.jpg">
    <link rel="icon" type="image/x-icon" href="./_assets/images/_etc/favicon.ico">
    <link rel="icon" type="image/png" href="./_assets/images/_etc/favicon.png">
    <link rel="apple-touch-icon" type="image/png" href="./_assets/images/_etc/custom-icon.png">
    
    <!-- Styles-->
    <link rel="stylesheet" media="print,screen" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css">
    <link rel="stylesheet" media="print,screen" href="./_assets/css/style.css">
  </head>
  <body class="topPage" id="top">
    <header class="siteHeader">
      <div class="siteHeader__inner">
        <div class="siteHeader__logoArea"><a class="siteHeader__logoLink" href="."><img class="siteHeader__logoImg u-pcDb" src="./_assets/images/common/logo.png" alt="logo"><img class="siteHeader__logoImg js-headerLogo u-spDb" src="./_assets/images/common/logo-sp.png" alt="logo"></a></div>
        <nav class="siteHeader__nav js-nav" role="navigator">
          <ul class="siteHeader__navList">
            <li class="siteHeader__navItem"><a class="siteHeader__navItemLink" href="./">トップページ</a></li>
            <li class="siteHeader__navItem"><a class="siteHeader__navItemLink" href="./">光徳院について</a></li>
            <li class="siteHeader__navItem"><a class="siteHeader__navItemLink" href="./">境内案内</a></li>
            <li class="siteHeader__navItem"><a class="siteHeader__navItemLink" href="./">墓地案内</a></li>
            <li class="siteHeader__navItem"><a class="siteHeader__navItemLink" href="./">アクセス</a></li>
            <li class="siteHeader__navItem"><a class="siteHeader__navItemLink" href="./">お知らせ</a></li>
          </ul>
        </nav>
        <div class="siteHeader__menuBtnCont u-spDb">
          <div class="siteHeader__menuBtn js-menuBtnBurger">
            <div class="siteHeader__menuBtnBurger js-btnBurger"></div>
          </div>
          <div class="siteHeader__menuText js-menuText">menu</div>
        </div>
      </div>
    </header>
    <main class="siteContent" role="main">
      <section class="topPageKvSec">
        <div class="topPageKvSec__inner">
          <div class="topPageKvSec__topArea">
            <figure class="topPageKvSec__imgCont"><img class="topPageKvSec__img" src="./_assets/images/topPage/kv.png" alt="kv image"></figure>
          </div>
          <div class="topPageKvSec__bottomArea">
            <p class="topPageKvSec__description">光徳院は、御府内八十八カ所霊場の<br class="u-spDb">第58番札所です。<br>平成7年に建立された五重塔は、<br>小さいながらも木像瓦葺きの<br class="u-spDb">本格的造りのもので、<br>仏塔愛好家の方々に親しまれてします。</p>
          </div>
        </div>
      </section>
      <section class="topPageNotifSec">
        <div class="topPageNotifSec__inner">
          <h2 class="topPageNotifSec__title">お知らせ</h2>
          <ul class="topPageNotifSec__noticeList">
            <li class="topPageNotifSec__noticeItem">
              <div class="topPageNotifSec__noticeLabelCont">
                <p class="topPageNotifSec__noticeLabel">お知らせ</p>
              </div><a class="topPageNotifSec__noticeItemLink" href="./information-details"><span class="topPageNotifSec__noticeItemDate">2020年7月18日</span><span class="topPageNotifSec__noticeItemTitle">法事(回忌法要）動画中継の開始</span></a>
            </li>
            <li class="topPageNotifSec__noticeItem">
              <div class="topPageNotifSec__noticeLabelCont">
                <p class="topPageNotifSec__noticeLabel">お知らせ</p>
              </div><a class="topPageNotifSec__noticeItemLink" href="./information-details"><span class="topPageNotifSec__noticeItemDate">2020年6月20日</span><span class="topPageNotifSec__noticeItemTitle">今年度の盂蘭盆会に関しまして</span></a>
            </li>
            <li class="topPageNotifSec__noticeItem">
              <div class="topPageNotifSec__noticeLabelCont">
                <p class="topPageNotifSec__noticeLabel">お知らせ</p>
              </div><a class="topPageNotifSec__noticeItemLink" href="./information-details"><span class="topPageNotifSec__noticeItemDate">2020年5月20日</span><span class="topPageNotifSec__noticeItemTitle">施餓鬼会を終えました</span></a>
            </li>
            <li class="topPageNotifSec__noticeItem">
              <div class="topPageNotifSec__noticeLabelCont">
                <p class="topPageNotifSec__noticeLabel">お知らせ</p>
              </div><a class="topPageNotifSec__noticeItemLink" href="./information-details"><span class="topPageNotifSec__noticeItemDate">2020年4月20日</span><span class="topPageNotifSec__noticeItemTitle">一般墓地　B区画・C区画に空きがございます</span></a>
            </li>
            <li class="topPageNotifSec__noticeItem">
              <div class="topPageNotifSec__noticeLabelCont">
                <p class="topPageNotifSec__noticeLabel">お知らせ</p>
              </div><a class="topPageNotifSec__noticeItemLink" href="./information-details"><span class="topPageNotifSec__noticeItemDate">2020年4月10日</span><span class="topPageNotifSec__noticeItemTitle">今年度の施餓鬼会に関しまして</span></a>
            </li>
            <li class="topPageNotifSec__noticeItem">
              <div class="topPageNotifSec__noticeLabelCont">
                <p class="topPageNotifSec__noticeLabel">お知らせ</p>
              </div><a class="topPageNotifSec__noticeItemLink" href="./information-details"><span class="topPageNotifSec__noticeItemDate">2020年4月2日</span><span class="topPageNotifSec__noticeItemTitle">法事・葬儀に関しまして</span></a>
            </li>
            <li class="topPageNotifSec__noticeItem">
              <div class="topPageNotifSec__noticeLabelCont">
                <p class="topPageNotifSec__noticeLabel">お知らせ</p>
              </div><a class="topPageNotifSec__noticeItemLink" href="./information-details"><span class="topPageNotifSec__noticeItemDate">2020年3月30日</span><span class="topPageNotifSec__noticeItemTitle">当山の新型コロナ感染対策</span></a>
            </li>
            <li class="topPageNotifSec__noticeItem">
              <div class="topPageNotifSec__noticeLabelCont">
                <p class="topPageNotifSec__noticeLabel">お知らせ</p>
              </div><a class="topPageNotifSec__noticeItemLink" href="./information-details"><span class="topPageNotifSec__noticeItemDate">2020年3月27日</span><span class="topPageNotifSec__noticeItemTitle">花まつり中止のお知らせ</span></a>
            </li>
          </ul>
          <div class="topPageNotifSec__btnCont"><a class="topPageNotifSec__btnLink" href="./notice-list">お知らせ一覧はこちら</a></div>
          <div class="topPageNotifSec__downloadBtnCont"><a class="topPageNotifSec__downloadBtn" href=""><img class="topPageNotifSec__pdfIcon" src="./_assets/images/topPage/pdf_icon.svg" alt="pdf icon">
              <div class="topPageNotifSec__downloadBtnText"><span class="topPageNotifSec__downloadBtnText u-dlBtnTxt01">お塔婆の申込書</span><br><span class="topPageNotifSec__downloadBtnText u-dlBtnTxt02">ダウンロードはこちら</span></div></a><a class="topPageNotifSec__downloadBtn" href=""><img class="topPageNotifSec__pdfIcon" src="./_assets/images/topPage/pdf_icon.svg" alt="pdf icon">
              <div class="topPageNotifSec__downloadBtnText"><span class="topPageNotifSec__downloadBtnText u-dlBtnTxt01">お施餓鬼お塔婆の申込書</span><br><span class="topPageNotifSec__downloadBtnText u-dlBtnTxt02">ダウンロードはこちら</span></div></a></div>
          <div class="topPageNotifSec__bottomLogoCont u-pcDb"><img class="topPageNotifSec__bottomLogo" src="./_assets/images/topPage/logo_bottom.png" alt="pdf icon"></div>
        </div>
      </section>
    </main>
    <footer class="siteFooter">
      <div class="siteFooter__inner">
        <div class="siteFooter__nav">
          <ul class="siteFooter__navList">
            <li class="siteFooter__navItem"><a class="siteFooter__navItemLink" href="">
                <figure class="siteFooter__navImgCont"><img class="siteFooter__navImg u-pcDb" src="./_assets/images/topPage/footer_nav-img01.png" alt=""><img class="siteFooter__navImg u-spDb" src="./_assets/images/topPage/footer_nav-img01-sp.png" alt="">
                  <figcaption class="siteFooter__navImgCaption">光徳院について</figcaption>
                  <div class="siteFooter__navImgOverlay"></div>
                </figure></a></li>
            <li class="siteFooter__navItem"><a class="siteFooter__navItemLink" href="">
                <figure class="siteFooter__navImgCont"><img class="siteFooter__navImg u-pcDb" src="./_assets/images/topPage/footer_nav-img02.png" alt=""><img class="siteFooter__navImg u-spDb" src="./_assets/images/topPage/footer_nav-img02-sp.png" alt="">
                  <figcaption class="siteFooter__navImgCaption">境内案内</figcaption>
                  <div class="siteFooter__navImgOverlay"></div>
                </figure></a></li>
            <li class="siteFooter__navItem"><a class="siteFooter__navItemLink" href="">
                <figure class="siteFooter__navImgCont"><img class="siteFooter__navImg u-pcDb" src="./_assets/images/topPage/footer_nav-img03.png" alt=""><img class="siteFooter__navImg u-spDb" src="./_assets/images/topPage/footer_nav-img03-sp.png" alt="">
                  <figcaption class="siteFooter__navImgCaption">墓地案内</figcaption>
                  <div class="siteFooter__navImgOverlay"></div>
                </figure></a></li>
            <li class="siteFooter__navItem"><a class="siteFooter__navItemLink" href="">
                <figure class="siteFooter__navImgCont"><img class="siteFooter__navImg u-pcDb" src="./_assets/images/topPage/footer_nav-img04.png" alt=""><img class="siteFooter__navImg u-spDb" src="./_assets/images/topPage/footer_nav-img04-sp.png" alt="">
                  <figcaption class="siteFooter__navImgCaption">アクセス</figcaption>
                  <div class="siteFooter__navImgOverlay"></div>
                </figure></a></li>
          </ul>
        </div>
        <div class="siteFooter__bottomArea">
          <div class="siteFooter__bottomAreaCont">
            <figure class="siteFooter__bottomImgCont"><img class="siteFooter__bottomImg" src="./_assets/images/topPage/footer_img.png" alt=""></figure>
            <div class="siteFooter__bottomText">
              <div class="siteFooter__bottomText01">七星山<br><span class="siteFooter__bottomText01 u-bigTxt">光徳院</span></div>
              <div class="siteFooter__bottomText02">164-0002 <br class="u-spDb">東京都中野区上高田5-18-3<br>TEL：03−3386−5143<br>FAX：03−3386−5371</div>
            </div>
          </div>
        </div>
        <div class="toTop js-toTop"></div>
      </div>
    </footer>
    
    <!-- Scripts-->
    <script src="./_assets/lib/polyfill/smoothscroll.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="./_assets/js/bundle.js"></script>
  </body>
</html>
