htdocs/dist/information-details/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>お知らせ詳細 | Website Name</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, user-scalable=1, initial-scale=1, viewport-fit=cover">
    <meta name="keywords" content="this is meta keyworks">
    <meta name="description" content="this is meta description">
    <meta property="og:title" content="this is meta title">
    <meta property="og:type" content="website">
    <meta property="og:description" content="this is meta description">
    <meta property="og:url" content="http://website.com/about/">
    <meta property="og:image" content="../_assets/images/_etc/ogp.jpg">
    <meta property="fb:app_id" content="XXXXXXXXXXXXXXXX">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@XXXXX">
    <meta name="twitter:creator" content="@XXXXX">
    <meta name="twitter:image:src" content="../_assets/images/_etc/ogp.jpg">
    <link rel="icon" type="image/x-icon" href="../_assets/images/_etc/favicon.ico">
    <link rel="icon" type="image/png" href="../_assets/images/_etc/favicon.png">
    <link rel="apple-touch-icon" type="image/png" href="../_assets/images/_etc/custom-icon.png">
    
    <!-- Styles-->
    <link rel="stylesheet" media="print,screen" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css">
    <link rel="stylesheet" media="print,screen" href="../_assets/css/style.css">
  </head>
  
  <body class="topPage">
    <header class="siteHeader">
      <div class="siteHeader__inner">
        <div class="siteHeader__logoArea"><a class="siteHeader__logoLink" href=".."><img class="siteHeader__logoImg u-pcDb" src="../_assets/images/common/logo.png" alt="logo"><img class="siteHeader__logoImg js-headerLogo u-spDb" src="../_assets/images/common/logo-sp.png" alt="logo"></a></div>
        <nav class="siteHeader__nav js-nav" role="navigator">
          <ul class="siteHeader__navList">
            <li class="siteHeader__navItem"><a class="siteHeader__navItemLink" href="../">トップページ</a></li>
            <li class="siteHeader__navItem is-current"><a class="siteHeader__navItemLink" href="../">光徳院について</a></li>
            <li class="siteHeader__navItem"><a class="siteHeader__navItemLink" href="../">境内案内</a></li>
            <li class="siteHeader__navItem"><a class="siteHeader__navItemLink" href="../">墓地案内</a></li>
            <li class="siteHeader__navItem is-current"><a class="siteHeader__navItemLink" href="../">アクセス</a></li>
            <li class="siteHeader__navItem"><a class="siteHeader__navItemLink" href="../">お知らせ</a></li>
          </ul>
        </nav>
        <div class="siteHeader__menuBtnCont u-spDb">
          <div class="siteHeader__menuBtn js-menuBtnBurger">
            <div class="siteHeader__menuBtnBurger js-btnBurger"></div>
          </div>
          <div class="siteHeader__menuText js-menuText">menu</div>
        </div>
      </div>
    </header>
    
    <main class="siteContent" role="main">
      <section class="infoDetails">
        <div class="infoDetails__inner">
          <figure class="infoDetails__imgCont"><img class="infoDetails__img u-pcDb" src="../_assets/images/infoDetails/banner_bg.png" alt="kv image"><img class="infoDetails__img u-spDb" src="../_assets/images/infoDetails/banner_bg-sp.png" alt="kv image"></figure>
          <div class="infoDetails__content">
            <h1 class="infoDetails__title textTitle">0000000のお知らせ</h1>
            <p class="infoDetails__contentTitle">タイトルタイトルタイトル<br>タイトルタイトル</p>
            <p class="infoDetails__contentText">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字</p>
            <figure class="infoDetails__contentImgWrapper"><img class="infoDetails__contentImg" src="../_assets/images/infoDetails/main_img.png" alt="image"></figure>
          </div>
        </div>
      </section>
    </main>
    <footer class="siteFooter">
      <div class="siteFooter__inner">
        <div class="siteFooter__nav">
          <ul class="siteFooter__navList">
            <li class="siteFooter__navItem"><a class="siteFooter__navItemLink" href="">
                <figure class="siteFooter__navImgCont"><img class="siteFooter__navImg u-pcDb" src="../_assets/images/topPage/footer_nav-img01.png" alt=""><img class="siteFooter__navImg u-spDb" src="../_assets/images/topPage/footer_nav-img01-sp.png" alt="">
                  <figcaption class="siteFooter__navImgCaption">光徳院について</figcaption>
                  <div class="siteFooter__navImgOverlay"></div>
                </figure></a></li>
            <li class="siteFooter__navItem"><a class="siteFooter__navItemLink" href="">
                <figure class="siteFooter__navImgCont"><img class="siteFooter__navImg u-pcDb" src="../_assets/images/topPage/footer_nav-img02.png" alt=""><img class="siteFooter__navImg u-spDb" src="../_assets/images/topPage/footer_nav-img02-sp.png" alt="">
                  <figcaption class="siteFooter__navImgCaption">境内案内</figcaption>
                  <div class="siteFooter__navImgOverlay"></div>
                </figure></a></li>
            <li class="siteFooter__navItem"><a class="siteFooter__navItemLink" href="">
                <figure class="siteFooter__navImgCont"><img class="siteFooter__navImg u-pcDb" src="../_assets/images/topPage/footer_nav-img03.png" alt=""><img class="siteFooter__navImg u-spDb" src="../_assets/images/topPage/footer_nav-img03-sp.png" alt="">
                  <figcaption class="siteFooter__navImgCaption">墓地案内</figcaption>
                  <div class="siteFooter__navImgOverlay"></div>
                </figure></a></li>
            <li class="siteFooter__navItem"><a class="siteFooter__navItemLink" href="">
                <figure class="siteFooter__navImgCont"><img class="siteFooter__navImg u-pcDb" src="../_assets/images/topPage/footer_nav-img04.png" alt=""><img class="siteFooter__navImg u-spDb" src="../_assets/images/topPage/footer_nav-img04-sp.png" alt="">
                  <figcaption class="siteFooter__navImgCaption">アクセス</figcaption>
                  <div class="siteFooter__navImgOverlay"></div>
                </figure></a></li>
          </ul>
        </div>
        <div class="siteFooter__bottomArea">
          <div class="siteFooter__bottomAreaCont">
            <figure class="siteFooter__bottomImgCont"><img class="siteFooter__bottomImg" src="../_assets/images/topPage/footer_img.png" alt=""></figure>
            <div class="siteFooter__bottomText">
              <div class="siteFooter__bottomText01">七星山<br><span class="siteFooter__bottomText01 u-bigTxt">光徳院</span></div>
              <div class="siteFooter__bottomText02">164-0002 <br class="u-spDb">東京都中野区上高田5-18-3<br>TEL：03−3386−5143<br>FAX：03−3386−5371</div>
            </div>
          </div>
        </div>
        <div class="toTop js-toTop"></div>
      </div>
    </footer>
    
    <!-- Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="../_assets/js/bundle.js"></script>
    
  </body>
</html>

htdocs/src/pug/information-details/index.pug
//- META INFORMATION
- const page_title = 'お知らせ詳細'
- const relativePath = '..'
- const meta_title = 'this is meta title'
- const meta_keywords = 'this is meta keyworks'
- const meta_description = 'this is meta description'
- const meta_og_url = 'http://website.com/about/'
- const currentPage = 'about'


//- EXTERNAL LIBRARIES
- const isJquery = true
- const isWowEffects = false
- const isSwiper = false
- const isBootstrap = false


doctype html
html(lang="ja")
    head
        //- HEAD
        include ../_inc/_head.pug
    |
    |
    body.topPage
        //- HEADER
        include ../_inc/_siteHeader.pug
        |
        |

        //- MAIN CONTENT
        main.siteContent(role="main")
            section.infoDetails
                .infoDetails__inner
                    figure.infoDetails__imgCont
                        img.infoDetails__img.u-pcDb(src=`${relativePath}/_assets/images/infoDetails/banner_bg.png`, alt="kv image")
                        img.infoDetails__img.u-spDb(src=`${relativePath}/_assets/images/infoDetails/banner_bg-sp.png`, alt="kv image")
                    .infoDetails__content
                        h1.infoDetails__title.textTitle 0000000のお知らせ
                        p.infoDetails__contentTitle タイトルタイトルタイトル
                            br 
                            | タイトルタイトル
                        p.infoDetails__contentText この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字
                        figure.infoDetails__contentImgWrapper
                            img.infoDetails__contentImg(src=`${relativePath}/_assets/images/infoDetails/main_img.png`, alt="image")



        //- FOOTER
        include ../_inc/_siteFooter.pug
        |
        |
